body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #00283c;
}

header {
    background: #001C30;
    color: white;
    display: grid;
    grid-template-columns: 2fr 6fr 2fr; /* Adjust grid to include the new column distribution */
    align-items: center;
    padding: 1em;
    position: fixed; /* Fix the header at the top */
    width: 100%; /* Ensure the header spans the full width */
    height: 60px;
    top: 0; /* Position at the top */
    left: 0;
    box-shadow: 0 4px 8px rgba(1, 1, 1, 0.1); /* Add shadow for 3D effect */
    z-index: 1000; /* Ensure the header stays on top */
}

.logo img {
    background-color: #001C30;
    margin-left: 30px; /* Adjust the margin to move the logo further right */
    height: 60px;
}

.lists nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center; /* Center the navigation items */
}

.lists nav ul li {
    margin: 0 10px;
    float: left;
    display: inline-block;
}

.lists nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: inline-block;
    transition: background-color 0.3s ease;
    font-size: 1.2vw; /* Dynamic font size */
}

.lists nav ul li a:hover {
    background-color: #0A4D7E;
    border-radius: 10px;
}

.book-trial {
    display: flex;
    justify-content: flex-end;
    margin-right: 30px; /* Adjust the margin to move the button further left */
}

.bb {
    background-color: #ED0C6C;
    border: none;
    color: white;
    padding: 0.5em 1em;
    text-align: center;
    text-decoration: none;
    font-size: 1.5vw; /* Dynamic font size */
    margin: 0;
    cursor: pointer;
    border-radius: 0.25em;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.bb a {
    color: white;
    text-decoration: none;
}

.bb:hover {
    background-color: #ED0C6C;
    transform: scale(1.05);
}

.main_blue {
    background-color: #001C30;
    background-image: url('images/Main_blue_front.webp');
    background-repeat: no-repeat;
    background-position: center 10%;
    background-size: 75
